*{
  margin: 0;
  padding: 0;
}

/* -----------------------Navbar------------------------ */

.search-box{
  border: 1px solid black;

}
.search-box input{

  background: transparent;
  outline: none;
  border: none;
  width: 500px;

}

/* ---------------------------Landing page=--------- */

/* Landing Page */
.landing-page {
  margin-top: 8%;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2%;
  justify-content: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .landing-page {
    margin-top: 20%; /* Adjust this value as needed */
  }
}

