*{
  margin: 0;
  padding: 0;
}

/* -----------------------Navbar------------------------ */
/* Navbar Logo */
.logo {
  object-fit: contain;
  width: 50px; /* Adjust width as needed */
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

/* Search Box Styles */
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid rgb(208, 207, 207);
  border-radius: 20px; /* Rounded corners */
  padding: 5px 10px; /* Padding around the search input */
  background-color: #f8f9fa; /* Light background color */
}

.search-box input {
  background: transparent;
  outline: none;
  border: none;
  width: 300px; /* Adjust width as needed */
  padding: 5px;
}

/* Navbar Styles */
.navbar {
  padding: 0.5rem 1rem;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  margin-left: 10px;
}

.btn-black {
  background-color: #333;
  color: #fff;
  border-radius: 20px; /* Rounded corners */
}

.btn-rounded {
  border-radius: 20px;
}


/* ---------------------------Landing page=--------- */

.landing-page {
  margin-top: 8%;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2%;
  justify-content: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .landing-page {
    margin-top: 28%; /* Adjust this value as needed */
  }
}
